<h1> Sign In </h1>

<%= form_for Guest.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  </br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  </br>
  </br>
  <%= f.submit "Sign In" %>
<%end %>
