<h1> Sign In </h1><br>

<%= form_tag signin_path do %>
  <label>Name:</label><br>
  <%= text_field_tag :name %><br>

  <label>Password:</label><br>
  <%= text_field_tag :password %><br><br>

  <%= submit_tag "Sign In" %><br><br>
  <%= link_to "New User? Sign Up!", new_guest_path %>
<% end %>
