

<%= form_for(@guest) do |f| %>


<p>Select Your Monthly Plan</p>
<%= f.select :membership_type, options_for_select([["Silver: $50/month "], ["Gold: $90/month"], ["Platinum: $200/month"]]) %>

</br>
</br>
<p>Credit Card Type</p>
<%= f.select :cc_type, options_for_select([["Visa"], ["MasterCard"], ["Amex"]]) %>

</br>
</br>

  <%= f.label :credit_card, 'Credit Card Number: ' %> <br>
  <%= f.text_field :credit_card %>

</br>
</br>

  <%= f.label :cc_exp_date, 'Expiration Date: ' %> <br>
  <%= f.text_field :cc_exp_date %>

</br>
</br>

  <%= f.label :name_on_card, 'Name on Card: ' %> <br>
  <%= f.text_field :name_on_card %>

</br>
</br>

  <%= f.submit "Make Payment" %><br><br>



  <%= link_to "Already A User? Sign In Here!", signin_path %>

<% end %>
