
<h2>Welcome, <%=@guest.name%>!<h2>


<% if !@reservations.empty?  %>

<h3>Here's your hotel reservation history and upcoming reservations... </h3>

    <% @reservations.each do |rsvp| %>
    <div class="reservation">
        <p>Hotel: <%= rsvp.hotel.name %></p>
        <p>City: <%= rsvp.hotel.city.name %></p>

        <p>Check-in Date: <%= rsvp.start.to_date%></p>
        <p>Check-Out Date:<%= rsvp.end.to_date%></p>

        <% if  rsvp.start < DateTime.now %>
            <%= form_tag new_review_path do %>
                <%= hidden_field_tag :reservation_id, rsvp.id %>
                <input class="button" type="submit" value="Review this hotel">
            <% end %>
        <% else %>
            <%= form_tag edit_reservation_path(rsvp) do %>
                <%= hidden_field_tag :reservation_id, rsvp.id %>
                <input class="button" type="submit" value="Edit your reservation">
        <% end %>
        <% end %>

        </div>

    <% end %>

<% end %>


<br>
<p><%= button_to "Book a hotel", hotels_path %></p>
