<!-- Greeting -->
<h2><b>Nice to see you, <%=@guest.name%>.</b><h2>

<!-- Guest membership type -->
  <% if @guest.membership_type %>
    <h3><%= @guest.membership_type %></h3>
  <% end %>

<!-- List guest's reservations -->
<% if !@reservations.empty?  %>

<h3>Here's a snapshot of your upcoming trips and trip history... </h3>

<p><h4><%= link_to "Book a hotel", hotels_path %></h4></p><br>


<h3>Upcoming Trips</h3>
    <% @reservations.each do |rsvp| %>
    <div class="reservation">
        <p>Hotel: <%= rsvp.hotel.name %></p>
        <p>City: <%= rsvp.hotel.city.name %></p>

        <p>Check-in Date: <%= rsvp.start.to_date%></p>
        <p>Check-Out Date: <%= rsvp.end.to_date%></p>

        <% if  rsvp.start < DateTime.now %>
            <%= form_tag new_review_path do %>
                <%= hidden_field_tag :reservation_id, rsvp.id %>
                <input class="button" type="submit" value="Review this hotel">
            <% end %>
        <% else %>
            <%= form_tag edit_reservation_path(rsvp) do %>
                <%= hidden_field_tag :reservation_id, rsvp.id %>
                <input class="button" type="submit" value="Edit your reservation">
        <% end %>
        <% end %>

        </div>

    <% end %>

<% end %>
