<div class="hotel_show_page">

<h2><%= @hotel.name %></h2>


<%= image_tag(@hotel.image_url, size: "4.76 x 5.74", :alt => "rss feed", :class => "myDiv") %></br>

<br>



<p><b>Address: </b><%= @hotel.address %></p>
<p><b>Tel: </b><%= @hotel.tel %></p>

<p><u><b>About <%= @hotel.name %> </b></u></p>
<p><i><%= @hotel.description %></i></p>
</br>

<%= form_tag new_reservation_path do %>
  <%= hidden_field_tag :hotel_id, @hotel.id %>
  <input type="submit" value="Book this hotel">
<%end %>
</br>
</div>


<h3>Most Recent Reviews...</h3>
<% @all_content.each do |c| %>
<i>"<%= c %>"</i></br></br>
<% end %>
